name: release

on:
  push:
    branches:
      - develop
      - release-candidate
      - main
    paths-ignore:
      - '.gitignore'
      - '**/*.env'
      - '*.env'
      - '**/*.md'
      - '*.md'
      - '**/*.txt'
      - '*.txt'
    tags-ignore:
      - '**'

permissions:
  id-token: write
  contents: write
  pull-requests: write
  packages: read

jobs:
  publish-release:
    uses: ./.github/workflows/release.yml
    with:
      runner_type: firmino-lxc-runners
    secrets: inherit
